<!DOCTYPE html>
<html>
<%- partial('partial/head') %>
<body>
    <%- partial('partial/toolbar') %>
    <%- partial('partial/banner') %>
    <div id="content" class="site-content">
    	<div class="page-infomation-card-container"></div>
    	<% if (is_home()) { %>
    		<%- partial('partial/archive-post') %>
    	<% } %>
    	<%- partial('partial/leftbar') %>
    </div>
    <%- partial('partial/afterfooter') %>
</body>
</html>