<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/toolbar') %>
    <%- partial('_partial/banner') %>
    <%- partial('_partial/action-buttons') %>
    <div id="content" class="site-content">
    	<div class="page-infomation-card-container"></div>
    	<%- partial('_partial/leftbar') %>
    	<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
		    	<% if (is_home()) { %>
		    		<%- partial('_partial/archive-post') %>
		    	<% } %>
		    	<% if (is_post() || is_page()) { %>
		    		<%- partial('_partial/post-view') %>
		    	<% } %>
          <% if (is_archive()) { %>
            <%- partial('_partial/archive') %>
          <% } %>
   				<%- partial('_partial/footer') %>
   			</main>
   		</div>
	</div>
</body>
    <%- partial('_partial/afterfooter') %>
</html>