<!DOCTYPE html>
<html>
<%- partial('partial/head') %>
<body>
    <%- partial('partial/toolbar') %>
    <%- partial('partial/banner') %>
    <%- partial('partial/action-buttons') %>
    <div id="content" class="site-content">
    	<div class="page-infomation-card-container"></div>
    	<%- partial('partial/leftbar') %>
    	<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
		    	<% if (is_home()) { %>
		    		<%- partial('partial/archive-post') %>
		    	<% } %>
		    	<% if (is_post()) { %>
		    		<%- partial('partial/post-view') %>
		    	<% } %>
   				<%- partial('partial/footer') %>
   			</main>
   		</div>
	</div>
</body>
    <%- partial('partial/afterfooter') %>
</html>